/*
  _____                           __      __         __
 / ___/___  ___  ___  ____ ___ _ / / ___ / /_ __ __ / /___  ___
/ (_ // -_)/ _ \/ -_)/ __// _ `// / (_-</ __// // // // -_)(_-<
\___/ \__//_//_/\__//_/   \_,_//_/ /___/\__/ \_, //_/ \__//___/
                                            /___/
@@  These are general styles that apply to the page as a whole
    and generally to all visualizations but feel free to tweak.

*/

/* Offset the main container so that it's not hidden under the navbar */
#mainContainer {
  margin-top: 70px;
}

a.navbar-brand {
  padding-top: 5px;
  padding-left: 0;
  margin-left: -2px !important;
}

/* Give some space for the clear value x */
a.select2-choice {
  padding-right: 3em !important;
}

.chart-options {
  float: right;
}
